alias ls="ls --color=auto"
alias la="ls -a"       # All
alias ll="ls -lh"      # Long (but human readable)
alias lr="ls -lhr"     # Reverse
alias lt="ls -lht"     # By time
alias lld="ls -lhd */" # Only directories

alias t="todo.sh"  # Todo utility
alias config="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

mkcd ()
{
	mkdir -p -- "$1" && cd -P -- "$1"
}

alias sl="sl -Fl" # What, sl is funny?


