#!/bin/sh

# ls
alias ls="ls --color=auto" # Pretty colors!
alias la="ls -a"           # All files
alias ll="ls -lh"          # Long listing
alias lr="ls -lhr"         # Reverse alphabetical
alias lt="ls -lht"         # Most recent first
alias l.="ls -ad .*"

# update whatever you might want to
alias update="paru -Syu && flatpak update"

# flatpak aliases
alias chromium="flatpak run org.chromium.Chromium"
alias firefox="flatpak run org.mozilla.firefox"
alias minecraft="flatpak run com.mojang.Minecraft"
alias nextcloud="flatpak run com.nextcloud.desktopclient.nextcloud"
alias prismlauncher="flatpak run org.prismlauncher.PrismLauncher"
alias steam="flatpak run com.valvesoftware.Steam"
alias thunderbird="flatpak run org.mozilla.Thunderbird"
alias tor="flatpak run com.github.micahflee.torbrowser-launcher"
alias webcord="flatpak run io.github.spacingbat3.webcord"

# Utils
alias config="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

# cd into new dir
mkcd () {
	mkdir -p -- "$1" && cd -P -- "$1" 
}
# cd and list
cdl () {
	cd "$1" && ls
}
# print full path to file
pwf () {
	echo $(pwd)/$1
}

# Find files older than the date you provide on the commandline
alias older="find . ! -newermt"

# Dumb
alias sl="sl -Fl"
alias fuckbitches="speak-ng 'get money'"
