[user]
	email = 68617358+raymondheil@users.noreply.github.com
	name = Raymond Heil
	signingkey = D42A878B0CB3C5DC
[color]
	ui = auto
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true
