[user]
	email = 68617358+raymondheil@users.noreply.github.com
	name = Raymond Heil
	signingKey = 7FAC396616EAB385
[color]
	ui = auto
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = gpg2
[commit]
	gpgsign = true
