[user]
	email = 68617358+raymondheil@users.noreply.github.com
	name = Ray Heil
	signingkey = 0B8EEC2C2E3AA7CB
[color]
	ui = auto
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	program = /usr/bin/gpg
[commit]
	gpgsign = true
