@define-color bg #1d1f21;
@define-color fg #c5c8c6;
@define-color red #a54242;
@define-color lightred #cc6666;
@define-color green #8c9440;
@define-color lightgreen #b5bd68;
@define-color yellow #de935f;
@define-color lightyellow #f0c674;
@define-color blue #5f819d;
@define-color lightblue #81a2be;
@define-color purple #85678f;
@define-color lightpurple #b294bb;
@define-color aqua #5e8d87;
@define-color lightaqua #8abeb7;
@define-color gray #707880;
@define-color lightgray #c5c8c6;

* {
    font-family: Hack Nerd Font, FontAwesome, Roboto, monospace;
    font-size: 12pt;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0;
}

#workspaces button {
    background-color: transparent;
    color: @lightblue;
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button.focused {
    background-color: @lightblue;
    color: @bg;
}

#workspaces button.urgent {
    background-color: @red;
    color: @bg;
}

#mode {
    background-color: @gray;
    color: @fg;
}

#clock,
#network,
#pulseaudio,
#custom-media,
#battery,
#tray,
#mode,
#custom-spotify
#idle_inhibitor {
    padding: 0 10px;
    background-color: @bg;
    color: @fg;
}

/* Give worspaces special rules if it has nothing to either side */
.modules-left > widget:first-child > workspaces {
    margin-left: 0;
}
.modules-right > widget:first-child > workspaces {
    margin-right: 0;
}

#clock {
    color: @bg;
    background-color: @blue;
}

#battery {
    color: @green;
}

#battery.critical:not(.charging) {
    background-color: @red;
}

#network {
    color: @lightred;
}

#network.disconnected {
    background-color: @red;
    color: @fg;
}

#pulseaudio {
    color: @yellow;
}

#pulseaudio.muted {
    color: @gray;
}

#custom-spotify {
    color: @green;
    padding-left: 10px;
}

#custom-scratchpad-indicator {
    color: @aqua; 
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
    color: @fg;
}

#idle_inhibitor {
    background-color: @blue;
    color: @bg;
}

#idle_inhibitor.activated {
    color: @fg;
}
