configuration {
	modi: "drun,run,combi";
	font: "Hack 12";
	terminal: "alacritty";
}
//@theme "dracula"
//@theme "/usr/share/rofi/themes/gruvbox-dark.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
